{{ $page := .page }}

<div class="row stats-facts-row">
  {{ with $page.Title }}
  <div class="col-12 section-heading text-center">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  <div class="col-12 stats-facts" data-stats-reveal>
    {{ range $page.Params.fact }}
    <div class="stats-fact d-flex align-items-end">
      <div class="stats-fact-inner">
        <div class="stats-fact-number">{{ .value }}</div>
        <p>{{ .label | markdownify | emojify }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
